.RcmPortalOptions .menuItem {
    background-color: #0CB3B0;
    height: 37px;
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    padding: 8px;
}
.RcmPortalOptions .menuItem span a {
    color: white;
}
.RcmPortalOptions .portalMenuItem {
    margin-bottom: 3px;
}
.RcmPortalOptions .addNewItem {
    height: 37px;
    background-color: rgba(145, 145, 145, 0.32);
    /* border-color: grey; */
    /* border-style: solid; */
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    padding: 6px;
    border-width: 2pt;
    color: #9E9E9E;
}
.RcmPortalOptions .editItem {
    float: right;
    /* top: 15px; */
    /* margin-top: -20px; */
    /* position: absolute; */
    background-color: #DEDEDE;
    width: 18px;
    padding-left: 2px;
}
.RcmPortalOptions .removeItem {
    padding-left: 3px;
    background-color: #DEDEDE;
    width: 20px;
}